{{#partial "content"}}

{{#if editTeam}}
<h1>Edit Team</h1>

<form action="/team/{{editTeam.id}}/update" method="post">
    <div class="row">
        <div class="col-md-6">
            <label>Name</label>
            <input id="nameUpdate" name="nameUpdate" class="form-control input-sm" type="text" value="{{editTeam.name}}">
        </div>
        <div class="col-md-6">
            <label>Email</label>
            <input id="descriptionUpdate" name="descriptionUpdate" class="form-control input-sm" type="text" value="{{editTeam.description}}">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-success">Add</button>
        </div>
    </div>
</form>
{{else}}
<h1>Member Register</h1>

<form action="/team/new" method="post">
    <div class="row">
        <div class="col-md-6">
            <label>Name</label>
            <input id="name" name="name" class="form-control input-sm" type="text">
        </div>
        <div class="col-md-6">
            <label>Email</label>
            <input id="description" name="description" class="form-control input-sm" type="text">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-success">Add</button>
        </div>

    </div>
</form>
{{/if}}

{{/partial}}

{{> layout.hbs}}